body{
	background-image:url('../img/bg.png');
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-attachment:fixed;
	background-position:center; 
	background-color:#000;	
	margin-right:0;
	padding-right:0;
}

#main{
	margin-right:0;
	padding-right:0;
	background-image:url('../img/mainbg.png');
	background-repeat:repeat;
	
	position:absolute;
	top: 10%;
	left: 9%;
	width:91%;
	height: 90%;
}

#dark{
	margin-right:0;
	padding-right:0;
	background-image:url('../img/darkbg.png');
	background-repeat:repeat;

	position:absolute;
	top: 10%;
	left: 8%;
	width:91%;
	height: 90%;
}