body{
	background-image:url('../img/bg.png');
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-attachment:fixed;
	background-position:center; 
	background-color:#000;	
}

#main{
	background-image:url('../img/mainbg.png');
	background-repeat:repeat-y;
	/*background-size: 100% auto;*/
	background-attachment:fixed;
	background-position:center; 
	
	position:absolute;
	top: 10%;
	left: 9%;
	width:90%;
	height: 90%;
}