body{
	background-color:black;
	font-family:"Trebuchet MS";
	margin:0px;
	padding:0px;
}

#faq_body{
	
	
}

#container{
	background-image:url('../img/bgimage.jpg');
	background-repeat:no-repeat;
	width:1200px;
	min-height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	text-align: center;
	padding-top:300px;
}

#download{
	position:relative;
	width:550px;
	height:100px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;



}

#navbar{
	margin-left:80px;
	margin-top:100px;
	width:1000px;
	height:200px;

}

#footer{
	text-align: center;
	width:99%;
	bottom:10px;
	margin-left: auto ;
  	margin-right: auto ;
}
#contact{
	
	
	width:100%;
	margin-top:-80px;
	margin-left: auto ;
  	margin-right: auto ;
}


.nav{
	padding-left:10%;
}
img { 
  opacity: 0.9; 
} 

img:hover { 
  opacity: 1.2; 
}

#faq{
	position:relative;
	margin:0 auto;
	padding:10px;
	top:33px;
	width:60%;
	color:#fff;
}

.q {
	color:#ca2828
}

.a {
	color:#999;
}
h1{
	color:#777;
}

a {
	color:#666;
	text-decoration:underline;
}
p{
	color:#666;
}

a:hover {
	color:#999;
}

