body{
	background-image:url('../img/bgimage.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	background-color:#000;	
	font-family:"Trebuchet MS";
}

#faq_body{
	background-image:url('../img/bgimageclear.jpg');
}

#container{
	width:100%;	
	text-align: center;
}

#download{
	position:relative;
	margin-top:25%;
}

#navbar{
	position:relative;
	margin-top: 2.5%;
}

#footer{
	text-align: center;
}

.nav{
	padding-left:10%;
}
img { 
  opacity: 0.9; 
} 

img:hover { 
  opacity: 1.2; 
}

#faq{
	position:relative;
	margin:0 auto;
	padding:10px;
	top:33px;
	width:60%;
	color:#fff;
}

.q {
	color:#ca2828
}

.a {
	color:#999;
}

a {
	color:#666;
	text-decoration:underline;
}
p{
	color:#666;
}

a:hover {
	color:#999;
}

